body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
.align_right
{
	text-align: right;
	
}

.cust_nav_btn_1
{
	border-style: None;
}
.cust_nav_btn_2
{
	border-style: Solid;
	border-width: 4px;
	border-radius: 50px;
}
.welcome-container
{
	padding-bottom:200px;
}
@media screen and (max-width: 600px) {
	.welcome-container
	{
		padding-bottom:70px;
	}	
	.welcome_line
	{
		font-size: 2.6rem;
		font-family: sans-serif;
		color: #2977c9;
		font-weight: 200;
		line-height: 50px;
	}
	.meeting_logo
	{
		position: relative;
		right: 0px;
		top: 0px;
		z-index:1;
	}
	.btn-lg
	{
		width: 100%;
		text-align: left;
		transition-duration: 0.2s;
		cursor: pointer;
		border-style: solid;
		border-width: 1px;
		border-color: #D3D3D3;
	}
	.find_your_job
	{
		font-size: 3rem;
		font-family: sans-serif;
		color: black;
		font-weight: 60;
		line-height: 50px;
	}
	.suggested_section
	{
		background-color: #FAF9F8;
		padding-bottom:70px;
		padding-top:50px;
	}
	.post_job_container
	{
		background-color: #F3F2F0;
		padding-bottom:100px;
		padding-top:100px;
	}
	.post_job_message
	{
		font-size: 1.5rem;
		font-family: sans-serif;
		color: #b7410e;
		font-weight: 60;
		line-height: 40px;
	}
	.post_job_button
	{
		color: black;
		padding: 10px;
		margin-left: 30px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #808080;
		border-radius: 50px;
		width:60%;	
		position: relative;
		top: 20%;
	}	
	.right_people_know_container
	{
		background-color: #FAF9F8;
		padding-bottom:100px;
		padding-top:100px;
	}
	.right_people_know_header
	{
		font-size: 1.5rem;
		font-family: sans-serif;
		color: #0072b1;
		font-weight: 70;
		line-height: 35px;
	}
	.right_people_know_description
	{
		font-size: 1rem;
		font-family: 'Ubuntu', sans-serif;
		color: #000000;
		font-weight: 1;
		line-height: 35px;
	}
	.right_people_know_image
	{
		padding: 10px;
		width: 450px;
		z-index:1;	
	}
	.connect_people_learn_skill_container
	{
		padding-bottom:100px;
		padding-top:100px;
	}
	.connect_with_people_column
	{
		margin-bottom: 100px;
	}
	.learn_skill_column
	{
		
	}
	.connect_with_people_image
	{
		width: 400px;
		z-index:1;		
	}
	.learn_skills_image
	{
		width: 400px;
		z-index:1;		
	}
	.connect_with_people_header
	{
		font-size: 2rem;
		font-family: sans-serif;
		color: #000000;
		font-weight: 70;
		line-height: 45px;
	}
	.learn_skills_header
	{
		font-size: 2rem;
		font-family: sans-serif;
		color: #000000;
		font-weight: 70;
		line-height: 45px;
	}
	.connect_with_people_button
	{
		color: black;
		padding: 20px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		margin: auto;
		width:auto;	
		position: relative;
		top: 20%;
	}
	.learn_skill_button
	{
		color: black;
		padding: 20px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		margin: auto;
		width:auto;	
		position: relative;
		top: 20%;
	}
	.video_testimonial_container
	{
		background-color: #f2faff;
		padding-bottom:100px;
		padding-top:100px;
	}
	.video_testimonial_iframe_div
	{
		height: 300px;		
	}
	.video_testimonial_iframe
	{
		height: 100%;
		width: 100%;
	}
	.video_testimonial_header
	{
		font-size: 1em;
		font-family: sans-serif;
		font-weight: 70;
		line-height: 25px;
	}
	.video_testimonial_description
	{
		font-size: 2em;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 70;
		line-height: 40px;
	}
	.get_started_container
	{
		background-color: #4e4e4e;
		padding-bottom:100px;
		padding-top:100px;
	}
	.get_started_header
	{
		font-size: 2em;
		color: #0d2836;
		font-family: sans-serif;
		font-weight: 70;
		line-height: 50px;
	}
	.get_started_button
	{
		color: #ffffff;
		padding: 20px;
		background-color:#0d2836;
		border-style: none;
		border-radius: 50px;
		margin: auto;
		width:55%;	
		position: relative;
		top: 20%;		
	}
	.footer_container
	{
		background-color: #FAF9F8;
		padding-bottom:100px;
		padding-top:100px;		
	}
}
@media screen and (max-width: 1100px) and (min-width: 600px) {
	.welcome-container
	{
		padding-bottom:100px;
	}	
	.welcome_line
	{
		font-size: 3rem;
		font-family: sans-serif;
		color: #2977c9;
		font-weight: 150;
		line-height: 70px;
	}
	.meeting_logo
	{
		position: relative;
		right: 0px;
		top: 0px;
		z-index:1;
	}
	.btn-lg
	{
		width: 60%;
		text-align: left;
		transition-duration: 0.2s;
		cursor: pointer;
		border-style: solid;
		border-width: 1px;
		border-color: #D3D3D3;
		font-size: 1rem;
		font-weight: 300;
	}
	
	.find_your_job
	{
		font-size: 3rem;
		font-family: sans-serif;
		color: black;
		font-weight: 60;
		line-height: 50px;
	}
	.post_job_container
	{
		background-color: #F3F2F0;
		padding-bottom:100px;
		padding-top:100px;
	}
	.post_job_message
	{
		font-size: 3rem;
		font-family: sans-serif;
		color: #b7410e;
		font-weight: 60;
		line-height: 50px;
	}
	.post_job_button
	{
		color: black;
		padding: 10px;
		margin-left: 30px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		width:40%;	
		position: relative;
		top: 20%;
	}
	.right_people_know_container
	{
		background-color: #FAF9F8;
		padding-bottom:100px;
		padding-top:100px;
	}
	.right_people_know_header
	{
		font-size: 2rem;
		font-family: sans-serif;
		color: #0072b1;
		font-weight: 70;
		line-height: 40px;
	}
	.right_people_know_description
	{
		font-size: 1.5rem;
		font-family: 'Ubuntu', sans-serif;
		color: #000000;
		font-weight: 1;
		line-height: 40px;
	}
	.right_people_know_image
	{
		width: 450px;
		z-index:1;	
	}
	.connect_people_learn_skill_container
	{
		padding-bottom:100px;
		padding-top:100px;
	}
	.connect_with_people_column
	{
		width:35%;
		margin-right: auto;
		margin-left: auto;
	}
	.learn_skill_column
	{
		width:35%;
		margin-right: auto;
		margin-left: auto;
	}
	.connect_with_people_image
	{
		width: 400px;
		z-index:1;		
	}
	.learn_skills_image
	{
		width: 400px;
		z-index:1;		
	}
	.connect_with_people_header
	{
		font-size: 2rem;
		font-family: sans-serif;
		color: #000000;
		font-weight: 70;
		line-height: 45px;
	}
	.learn_skills_header
	{
		font-size: 2rem;
		font-family: sans-serif;
		color: #000000;
		font-weight: 70;
		line-height: 45px;
	}
	.connect_with_people_button
	{
		color: black;
		padding: 20px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		margin: auto;
		width:60%;	
		position: relative;
		top: 20%;
	}
	.learn_skill_button
	{
		color: black;
		padding: 20px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		margin: auto;
		width:auto;	
		position: relative;
		top: 20%;
	}
	.video_testimonial_container
	{
		background-color: #f2faff;
		padding-bottom:100px;
		padding-top:100px;
	}
	.video_testimonial_iframe_div
	{
		height: 300px;		
	}
	.video_testimonial_iframe
	{
		height: 100%;
		width: 100%;
	}
	.video_testimonial_header
	{
		font-size: 1.7em;
		font-family: sans-serif;
		font-weight: 70;
		line-height: 40px;
		padding-left: 50px;
	}
	.video_testimonial_description
	{
		font-size: 2.7em;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 70;
		line-height: 60px;
		padding-left: 40px;
	}
	.get_started_container
	{
		background-color: #0d2836;
		padding-bottom:100px;
		padding-top:100px;
		height: 700px;	
	}
	.get_started_header
	{
		font-size: 3em;
		color: #0d2836;
		font-family: sans-serif;
		font-weight: 70;
		line-height: 70px;
	}
	.get_started_button
	{
		color: #ffffff;
		padding: 20px;
		background-color:#0d2836;
		border-style: none;
		border-radius: 50px;
		margin: auto;
		width:35%;	
		position: relative;
		top: 20%;		
	}
	.footer_container
	{
		background-color: #FAF9F8;
		padding-bottom:100px;
		padding-top:100px;		
	}
}
@media screen and (max-width: 1600px) and (min-width: 1100px) {
	.welcome_line
	{
		font-size: 4rem;
		font-family: sans-serif;
		color: #2977c9;
		font-weight: 150;
		line-height: 70px;
	}
	.meeting_logo
	{
		position: absolute;
		width:550px;
		height: 550px;
		right: 150px;
		top: 150px;
		z-index:1;
	}
	.btn-lg
	{
		width: 50%;
		text-align: left;
		transition-duration: 0.2s;
		cursor: pointer;
		border-style: solid;
		border-width: 1px;
		border-color: #D3D3D3;
	}
	.find_your_job
	{
		font-size: 4rem;
		font-family: sans-serif;
		color: black;
		font-weight: 70;
		line-height: 70px;
	}
	.post_job_container
	{
		background-color: #F3F2F0;
		padding-bottom:100px;
		padding-top:100px;
	}
	.post_job_message
	{
		font-size: 3rem;
		font-family: sans-serif;
		color: #b7410e;
		font-weight: 70;
		line-height: 70px;
	}
	.post_job_button
	{
		color: black;
		padding: 20px;
		margin-left: 30px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		width:25%;	
		position: relative;
		top: 20%;
	}
	.right_people_know_container
	{
		background-color: #FAF9F8;
		padding-bottom:100px;
		padding-top:100px;
	}
	.right_people_know_header
	{
		font-size: 2.5rem;
		font-family: sans-serif;
		color: #0072b1;
		font-weight: 70;
		line-height: 45px;
	}
	.right_people_know_description
	{
		font-size: 2rem;
		font-family: 'Ubuntu', sans-serif;
		color: #000000;
		font-weight: 1;
		line-height: 45px;
	}
	.right_people_know_image
	{
		width: 450px;
		z-index:1;	
	}
	.connect_people_learn_skill_container
	{
		padding-bottom:100px;
		padding-top:100px;
	}
	.connect_with_people_column
	{
		width:35%;
		margin-right: auto;
		margin-left: auto;
	}
	.learn_skill_column
	{
		width:35%;
		margin-right: auto;
		margin-left: auto;
	}
	.connect_with_people_image
	{
		width: 400px;
		z-index:1;		
	}
	.learn_skills_image
	{
		width: 400px;
		z-index:1;		
	}
	.connect_with_people_header
	{
		font-size: 2rem;
		font-family: sans-serif;
		color: #000000;
		font-weight: 70;
		line-height: 45px;
	}
	.learn_skills_header
	{
		font-size: 2rem;
		font-family: sans-serif;
		color: #000000;
		font-weight: 70;
		line-height: 45px;
	}
	.connect_with_people_button
	{
		color: black;
		padding: 20px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		margin: auto;
		width:60%;	
		position: relative;
		top: 20%;
	}
	.learn_skill_button
	{
		color: black;
		padding: 20px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		margin: auto;
		width:auto;	
		position: relative;
		top: 20%;
	}
	.video_testimonial_container
	{
		background-color: #f2faff;
		padding-bottom:100px;
		padding-top:100px;
	}
	.video_testimonial_iframe_div
	{
		height: 300px;		
	}
	.video_testimonial_iframe
	{
		height: 100%;
		width: 100%;
	}
	.video_testimonial_header
	{
		font-size: 1.7em;
		font-family: sans-serif;
		font-weight: 70;
		line-height: 40px;
		padding-left: 50px;
	}
	.video_testimonial_description
	{
		font-size: 2.7em;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 70;
		line-height: 60px;
		padding-left: 40px;
	}
	.get_started_container
	{
		background-image: url('pubg.png');
		background-color: #333333;
		padding-bottom:100px;
		padding-top:100px;
		height: 900px;	
	}
	.get_started_header
	{
		font-size: 3em;
		color: #0d2836;
		font-family: sans-serif;
		font-weight: 70;
		line-height: 70px;
	}
	.get_started_button
	{
		color: #ffffff;
		padding: 20px;
		background-color:#0d2836;
		border-style: none;
		border-radius: 50px;
		margin: auto;
		width:10%;	
		position: relative;
		top: 20%;		
	}

	.footer_container
	{
		background-color: #FAF9F8;
		padding-bottom:100px;
		padding-top:100px;		
	}
}
@media screen and (min-width: 1600px) {
	.welcome_line
	{
		font-size: 5.6rem;
		font-family: sans-serif;
		color: #2977c9;
		font-weight: 200;
		line-height: 70px;
	}
	.meeting_logo
	{
		position: absolute;
		width:700px;
		height:700px;
		right: 200px;
		top: 150px;
		z-index:1;
	}
	.btn-lg
	{
		width: 40%;
		text-align: left;
		transition-duration: 0.2s;
		cursor: pointer;
		border-style: solid;
		border-width: 1px;
		border-color: #D3D3D3;
	}
	.find_your_job
	{
		font-size: 4rem;
		font-family: sans-serif;
		color: black;
		font-weight: 70;
		line-height: 70px;
	}
	.post_job_container
	{
		background-color: #F3F2F0;
		padding-bottom:100px;
		padding-top:100px;
	}
	.post_job_message
	{
		font-size: 2.5rem;
		font-family: sans-serif;
		color: #b7410e;
		font-weight: 70;
		line-height: 70px;
	}
	.post_job_button
	{
		color: black;
		padding: 20px;
		margin-left: 30px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		width:25%;	
		position: relative;
		top: 20%;
	}
	.right_people_know_container
	{
		background-color: #FAF9F8;
		padding-bottom:100px;
		padding-top:100px;
	}
	.right_people_know_header
	{
		font-size: 2.5rem;
		font-family: sans-serif;
		color: #0072b1;
		font-weight: 70;
		line-height: 45px;
	}
	.right_people_know_description
	{
		font-size: 2rem;
		font-family: 'Ubuntu', sans-serif;
		color: #000000;
		font-weight: 1;
		line-height: 45px;
	}
	.right_people_know_image
	{
		width: 450px;
		z-index:1;	
	}
	.connect_people_learn_skill_container
	{
		padding-bottom:100px;
		padding-top:100px;
	}
	.connect_with_people_column
	{
		width:35%;
		margin-right: auto;
		margin-left: auto;
	}
	.learn_skill_column
	{
		width:35%;
		margin-right: auto;
		margin-left: auto;
	}
	.connect_with_people_image
	{
		width: 400px;
		z-index:1;		
	}
	.learn_skills_image
	{
		width: 400px;
		z-index:1;		
	}
	.connect_with_people_header
	{
		font-size: 3rem;
		font-family: sans-serif;
		color: #000000;
		font-weight: 70;
		line-height: 45px;
	}
	.learn_skills_header
	{
		font-size: 3rem;
		font-family: sans-serif;
		color: #000000;
		font-weight: 70;
		line-height: 45px;
	}
	.connect_with_people_button
	{
		color: black;
		padding: 20px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		margin: auto;
		width:60%;	
		position: relative;
		top: 20%;
	}
	.learn_skill_button
	{
		color: black;
		padding: 20px;
		background-color:#e8e8e800;
		border-style:solid;
		border-width: 2px;
		border-color: #333333;
		border-radius: 50px;
		margin: auto;
		width:60%;	
		position: relative;
		top: 20%;
	}
	.video_testimonial_container
	{
		background-color: #f2faff;
		padding-bottom:100px;
		padding-top:100px;
	}
	.video_testimonial_iframe_div
	{
		height: 300px;		
	}	
	.video_testimonial_iframe
	{
		height: 100%;
		width: 100%;
	}
	.video_testimonial_header
	{
		font-size: 2em;
		font-family: sans-serif;
		font-weight: 70;
		line-height: 40px;
		padding-left: 50px;
	}
	.video_testimonial_description
	{
		font-size: 3em;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 70;
		line-height: 60px;
		padding-left: 40px;
	}
	.get_started_container
	{
		background-image: url('pubg.png');
		background-color: #333333;
		padding-bottom:100px;
		padding-top:100px;
		height: 700px;	
	}
	.get_started_header
	{
		font-size: 3em;
		color: #0d2836;
		font-family: sans-serif;
		font-weight: 70;
		line-height: 70px;
	}
	.get_started_button
	{
		color: #ffffff;
		padding: 20px;
		background-color:#0d2836;
		border-style: none;
		border-radius: 50px;
		margin: auto;
		width:10%;	
		position: relative;
		top: 20%;		
	}
	.footer_container
	{
		background-color: #FAF9F8;
		padding-bottom:100px;
		padding-top:100px;		
	}
	
}

.btn-lg:hover
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.suggested_section
{
	background-color: #FAF9F8;
	padding-bottom:100px;
	padding-top:100px;
}

.suggested_buttons
{
	background-color: white;
	color: black;
	padding: 10px;
	background-color:#E8E8E8;
	border-style:solid;
	border-width: 5px;
	border-color: #E8E8E8;
	border-radius: 30px;
}
.suggested_buttons:hover
{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
	background-color: #C0C0C0;
	border-color: #C0C0C0;
}
.suggestred_searches
{
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    line-height: 20px;
}

.post_job_button:hover
{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
	background-color: #C0C0C0;
	border-color: #7a7a7a;
}
.connect_with_people_button:hover
{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
	background-color: #C0C0C0;
	border-color: #7a7a7a;
}
.learn_skill_button:hover
{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
	background-color: #C0C0C0;
	border-color: #7a7a7a;
}
.get_started_button:hover
{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
	background-color: #f2faff;
}
li>a
{
	text-decoration: none;
	color: gray;
	font-weight: bold;
}